/**
 * 通知公告（模板）
 */
@import "../../../themes/index";
.tmNoticeDetail {
  .articleContent {
    .articleHeader{
      text-align: center;
      border-bottom: 1px solid darken(@gray-eee,5%);
    }
    .info{
      color: @text-gray*3;
      line-height: 35px;
      span{
        font-size: 12px;
        display: inline;
        margin: 0 15px;
      }
    }
    .handle {
      a{
        font-size: 14px;
        color: #999;
        line-height: 35px;
        margin: 0 5px;
      }
    }
    .content {
      min-height: 200px;
    }
  }
}
