/**
 * 我的班级模块
 */
@import "../../../themes/index";
.classModule{
  margin-top: 20px;
  .content {
    text-align: center;
    min-height: 100px;
    .clearFix;
    span{
      .pull-left;
      height: 30px;
      line-height: 30px;
    }
    .title{
      span{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }
    }
    .list1{
      width: 60%;
      padding: 0 20px;
      text-align: center;
      .ellipsis;
    }
    .list2{
      width: 35%;
      padding: 0 20px;
    }
  }
}
