/*
* 模版通用头部
*/
@import "../../themes/index";
.generalHead{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid @red;
  .title {
    .pull-left;
    color: @text-gray;
    font-size: 18px;
    font-weight: 600;
  }
  .more {
    .pull-right;
    height: 50px;
    line-height: 50px;
  }
}
