/**
 * 添加相册
 */
@import "../../themes/mixins";

.classTopicAdd {
  margin-top: 20px;
  padding-left: 10px;
  .innerContent {
    .border-base();
    .borderBold {
      margin-top: 20px;
      :global {
        .ant-row {
          margin: 10px 0;
        }
      }
    }
    .albumContent{
      width: 600px;
      margin: 0 auto;
    }
  }
}