@import "mixins";
@import "layout";

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  border: 0px;
  -ms-interpolation-mode: bicubic;
}

:global {
  // 超出显示...
  .ellipsis {
    .ellipsis();
  }
  .red {
    color: @red-3;
  }
  // 左浮动
  .pull-left {
    .pull-left();
  }

  // 右浮动
  .pull-right {
    .pull-right();
  }

  // 清除浮动
  .clearFix {
    .clearFix();
  }

  /*圆点*/
  .dian {
    .dian();
  }
  /*两端对齐*/
  .justify {
    .justify();
  }
  /*右箭头*/
  .triangleRight {
    .triangleRight();
  }
  .border-base{
    .border-base();
  }
}

