@import "../../themes/mixins";

.header {
  width: 100%;
  background-color: @footer-background;
  .headerContent {
    .ht-lineHt(40px);
    color: @text-color-3;
    :global {
      .grid_9 {
        padding-left: 25px;
      }
    }
    .phone {
      color: @primary-color;
      img {
        padding: 0 14px;
        position: relative;
        top: -1px;
      }
    }
    a{
      color: @text-color-3;
      &:hover {
        color: @text-color;
      }
    }
  }
}
.headerSearch {
  height: 100px;
  li {
    .logoImg {
      .ht-lineHt(100px);
      img{
        vertical-align: middle;
      }
    }
    .logoText{
      margin-left: 15px;
      h3 {
        font-size: 35px;
        font-weight: 600;
        margin-top: 20px;
        color: lighten(@text-color,7%);
        .text-center();
      }
      p{
        .text-center();
      }
    }
    &.searchInput {
      height: 100px;
      vertical-align: middle;
      padding-left: 24px;
      .mar {
        margin-top: 30px;
      }
      :global {
        .ant-input-affix-wrapper {
          line-height: 44px;
          .wh(335px,44px);
        }
        .ant-input-affix-wrapper .ant-input:not(:first-child) {
          padding-left: 35px;
          .border-right-radius(0);
        }
        .ant-btn{
          padding: 0;
          background-color: #444548;
          color: @white;
          .wh(62px,44px);
          border:none;
          .border-radius(0);
          .border-right-radius(4px);
        }
      }
    }
    .redFlag {
      margin: 30px 0 0 50px;
    }
    .appImg {
      margin-top: 9px;
      text-align: center;
      padding: 0 20px;
    }
    .appImg span{
      font-size: @font-size-sm;
      color: @text-color;
    }
    .appImg img{
      .wh(61px,61px);
    }
  }
}
