@import "../../themes/mixins";

.navBar {
  text-align: center;
  background: @primary-color;
  .navTabs {
    li {
      .pull-left();
      a {
        display: inline-block;
        color: @white;
        font-size: @font-size-lg;
        font-weight: 500;
        .wh(170px, 42px);
        line-height: 42px;
        &:hover {
          background: @primary-4;
        }
      }
      .active {
        background: @primary-4;
      }
    }
  }
}
