/**
 * 快速入口
 */
@import "../../../themes/index";
.guideEntry {
  margin-left: 20px;
  .guideContent {
    margin-top: 20px;
    height: 233px;
    border:1px solid #eee;
    text-align: center;
    ul{
      .clearFix;
      margin-top: 15px;
      li{
        .pull-left;
        width: 109px;
        .professionals {
          display: inline-block;
          p {
            padding: 12px 0;
          }
        }

      }
    }

  }
}
