/**
 * 专题学习
 */
@import "../../../themes/index";
.specialTraining {
  margin-left: 16px;
  margin-top: 25px;
  .specialContent {
    margin-top: 20px;
    min-height: 464px;
    li {
      margin-top: 10px;
      .title {
        .ellipsis;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        a {
          font-size: 16px;
        }
      }
      img {
        .wh(334px,115px);
      }
    }
  }
}
